body {
  background-color: rgb(82, 26, 134);
}
.body {
  border: 1px;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.clock {
  border: 1px;
  height: 100px;
  width: 650px;
}
.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}
.box1 {
  border: 1px brown;
  background-color: white;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
}
.option {
  width: 200px;
}
.text {
  display: flex;
  text-align: center;
  justify-content: space-around;

  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}
.box2 {
  background-color: blueviolet;
  border: 1px black;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  flex-wrap: wrap;
  justify-content: center;
}
.box3 {
  border: 1px black;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#inside1 {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  font-size: x-large;
  background-color: rgb(192, 135, 225);
}
.inside2 {
  background-color: blueviolet;
  margin: 10px;
  border: 1px black;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  color: white;
}
.lastbox {
  position: absolute;
  top: 770px;
  width: 200px;
  height: 50px;
  background-color: aliceblue;
  color: black;
  font-size: medium;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
#rigth {
  margin: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.first {
  border: 1px;
  width: 650px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
.timetext {
  padding-top: 30px;
  font-size: x-large;
  font-weight: 300;
}
#hrs {
  background-image: linear-gradient(rgb(200, 148, 213), rgb(162, 138, 209));
  margin: 10px;
  border: 1px solid;
  width: 60px;
  height: 60px;
  background-color: rgb(218, 180, 218);
  font-size: x-large;
  text-align: center;
}
#min {
  margin: 10px;
  border: 1px solid;
  width: 60px;
  height: 60px;
  background-color: rgb(218, 180, 218);
  font-size: x-large;
  text-align: center;
  background-image: linear-gradient(rgb(200, 148, 213), rgb(162, 138, 209));
}
#sec {
  margin: 10px;
  border: 1px solid;
  width: 60px;
  height: 60px;
  background-color: rgb(218, 180, 218);
  font-size: x-large;
  text-align: center;
  background-image: linear-gradient(rgb(200, 148, 213), rgb(162, 138, 209));
}
#part {
  margin: 10px;
  border: 1px solid;
  width: 60px;
  height: 60px;
  background-color: rgb(218, 180, 218);
  font-size: x-large;
  text-align: center;
  background-image: linear-gradient(rgb(200, 148, 213), rgb(162, 138, 209));
}
button:hover {
  cursor: pointer;
}
.index1 {
  border: 1px solid black;
  position: absolute;
  height: 110px;
  width: 500px;

  z-index: -1;
  background-color: aliceblue;
  border-radius: 10px;
}
.index2 {
  border: 1px solid black;
  position: absolute;
  height: 120px;
  width: 490px;

  z-index: -2;
  background-color: rgb(105, 108, 191);
  border-radius: 10px;
}
#second {
  border: 1px;
  width: 650px;
  height: 70px;
  border-radius: 10px;
  background-color: white;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  color: #6e54ec;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}
.third {
  width: 100%;
  border: 1px solid;
  position: relative;
  border-radius: 10px;
  background-color: white;
}
#img {
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .clock {
    align-items: center;
    position: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .main {
    width: 100%;
    position: relative;
    width: fit-content;
  }
  .box1 {
    width: 100%;
    width: 400px;
    position: relative;
  }
  .box2 {
    position: relative;
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .first {
    position: relative;
    width: auto;
  }
  .index1 {
    width: 350px;
    top: 60px;
  }
  .index2 {
    width: 350px;
    top: 60px;
  }
  #second {
    width: 100%;
  }
  .third {
    width: 400px;
  }
  #img {
    width: 400px;
    padding-top: 50px;
  }
}
